@mixin hmstask-table() {
  .hmstask-table {
    tr {
      th {
        text-align: left;
        padding-left: 10px;
      }
    }
  }
}

@mixin hms-grid() {
  .hms-grid {
    &.hms-grid--header-bf {
      .k-grid-header-wrap {
        padding-right: 1px;
      }
    }

    &.borderno-table {
      th {
        line-height: 25px;
      }
      td {
        padding-top: 5px;
        padding-bottom: 5px;
        vertical-align: middle;
        line-height: 25px;
      }
    }

    .task-inputform.type5 input {
      width: 100%;
      height: 25px;
      line-height: 25px;
      border : {
        width: 0 0 1px 0;
      }
    }

    .brightgray-btn {
      &.type-del {
        width: auto;
        min-width: 100px;
        height: 25px;
        &:before {
          vertical-align: baseline;
        }
      }
    }
  }
}

@mixin code-table() {
  width: 100%;
  background-color: #fff;

  & + & {
    border-top: 1px solid #999;
  }
}
@mixin code-tr() {
  display: flex;
  align-items: stretch;
  height: 100%;
}
@mixin code-th() {
  flex-basis: 150px;
  flex-grow: 0;
  flex-shrink: 0;
}
@mixin code-td() {
  line-height: 30px;
  font-size: 13px;
  min-width: 0;
  flex: 1;
}

@mixin res-table() {
  .res-table {
    @include code-table();
    &__row {
      @include code-tr();
      border-bottom: 1px solid #ddd;
      &:last-child {
        border-bottom: none;
      }
      @include breakpoint(desktop-s) {
        flex-direction: column;
      }
    }

    &__col {
      @include code-td();
      padding: 9px 20px;

      &--head {
        @include code-th();
        background-color: #f7f7f7;
        border-right: 1px solid #ddd;

        @include breakpoint(desktop-s) {
          flex-basis: auto;
          flex-shrink: 1;
          width: auto;
          border-right: none;
          border-bottom: 1px solid #ddd;
        }
      }
      .hms-upload:not(:only-child) {
        margin-top: 10px;
      }
      @include breakpoint(desktop-s) {
        .k-widget.k-datepicker {
          height: 40px;
          input {
            height: 100%;
          }
        }
      }
    }

    &__editor {
      display: block;
      width: 100%;
    }
  }
}

@mixin res-write-table() {
  .res-write-table {
    @include code-table();

    &__row {
      @include code-tr();
    }

    &__flexable {
      display: flex;
    }

    &__col {
      @include code-td();
      padding: 7px 10px 8px 10px;
      font-size: 12px;
      color: #999;
      &--required-field {
        color: #222;
      }
      &--head {
        @include code-th();
        max-width: 120px;
        flex-basis: 50%;
        box-sizing: border-box;
      }
      .hms-upload:not(:only-child) {
        margin-top: 10px;
      }

      .task-inputform {
        line-height: 1;
        display: flex;
        &.type2 {
          & > span {
            display: inline-block;
            width: 100%;
            max-width: 168px;
            vertical-align: top;
          }
          input {
            width: 100%;
          }
          button {
            flex: none;
          }
        }
        &.type5 {
          & > span {
            display: inline-block;
            width: 100%;
            max-width: 168px;
            vertical-align: top;
          }
          input {
            width: 100%;
          }
          button {
            flex: none;
          }
        }
      }
      .input__box {
        display: inline-block;
        width: 225px;
        height: 30px;
        border: 1px solid #ccc;
        input {
          padding: 0 11px;
          width: calc(100% - 32px);
          height: 100%;
          border: none;
        }
      }
    }

    &__editor {
      display: block;
      width: 100%;
    }
  }
}
