@mixin task-nav() {
  .task-nav {
    @include breakpoint(desktop-s) {
      margin: -10px -10px 0;
      padding: 0 10px;
    }
    @include breakpoint(tablet) {
      height: auto;
    }

    &__row {
      display: flex;
      @include breakpoint(tablet) {
        flex-wrap: wrap;
      }
    }

    &__aside {
      margin-left: auto;
      padding-left: 20px;
      flex: none;
      @include breakpoint(tablet) {
        width: 100%;
        flex: none;
        padding-left: 0;
        margin-left: 0;
        text-align: left;
      }
    }

    .task-title {
      display: flex;
      width: 100%;
      min-width: 0;
      align-items: center;

      span:first-child {
        flex: none;
        width: auto;
      }

      &__sec {
        flex: none;
        display: inline-block;
        padding-right: 10px;
      }

      p {
        text-align: left;
        width: 100%;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 40px;
      }
    }
  }
}

@mixin taskCheckForm() {
  .task-check-wrap {
    &__row {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(232px, 1fr));
      align-items: center;
      grid-gap: 10px 10px;
      .task-check-form {
        margin: 0 !important;
        @include respond-below(1023px) {
          width: 100%;
          margin: 0;
        }

        label {
          width: 100%;
        }
      }

      /* display: flex;
	  flex-wrap: wrap;
	  .task-check-form {
		flex: 1;
		min-width: calc(232px - 10px);
		flex-basis: 25%;
		margin-left: 10px;
		box-sizing: border-box;
		label {
		  width: 100%;
		}
	  }*/
    }
  }

  .task-check-form {
    margin-top: 10px;

    @include respond-below(1024px) {
    }
    & + & {
      margin-left: 0;
    }
    &:not(:last-child) {
      margin-right: 10px;
      margin-left: 0;
    }
  }

  .task-inputform.type4 label {
    line-height: 1;
  }

  /*

  .k-grid-header-wrap {
	padding-right: 1px;
  }
  */
}

@mixin taskInputForm() {
  .task-inputform {
    &.type2 {
      input {
        @include breakpoint(desktop-s) {
          height: 40px;
        }
      }
    }
    .magnifier-btn-black {
      @include breakpoint(desktop-s) {
        //height: 100%;
        height: 40px;
      }
    }
    .html-btn {
      @include breakpoint(desktop-s) {
        height: 40px;
      }
    }
  }
}
